body {
  margin: 0;
  height: 100vh;
  font-weight: 100;
  overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
}
.container {
  width: 100vw;
  height: 20%;
  position: fixed;
  top: 45%;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  grid-template-rows: 1fr;
  align-items: center;
}
.line {
  color: transparent;
  border-right: 0.2vw solid white;
  height: 100%;
  grid-template-columns: 2;
  position: relative;
  justify-self: center;
  animation: 3.5s ease-out 0s 1 slideInFromTop;
}
.leftSide {
  font-size: 2vw;
  color: white;
  padding: 2vw;
  grid-column: 1;
  position: relative;
  justify-self: center;
}
.leftSide p {
  overflow: hidden;
  border-right: 0.11vw solid gold;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em; /* Adjust as needed */
  font-family: "Monoton", cursive;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  cursor: default;
}

.rightSide {
  position: relative;
  font-size: 1vw;
  grid-column: 3;
  justify-self: center;
}

.continue {
  position: relative;
  border: 0.1px solid white;
  background: transparent;
  font-family: "Monoton", cursive;
  color: white;
  width: 15vw;
  height: 5vw;
  font-size: 2vw;
  border-radius: 5px;
  opacity: 0.5;
  margin: auto;
  transition: 1s;
  animation: 3.5s ease-out 0s 1 slideInFromRight;
}

.continue:hover {
  border: 0.3px solid gold;
  cursor: pointer;
  color: gold;
  opacity: 0.8;
  transition: 1s;
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.lineWhite {
  color: transparent;
  border-right: 0.2vw solid rgb(0, 0, 0);
  height: 100%;
  grid-template-columns: 2;
  position: relative;
  justify-self: center;
  animation: 3.5s ease-out 0s 1 slideInFromTop;
}
.leftSideWhite {
  font-size: 2vw;
  color: rgb(0, 0, 0);
  padding: 2vw;
  grid-column: 1;
  position: relative;
  justify-self: center;
}
.leftSideWhite p {
  overflow: hidden;
  border-right: 0.11vw solid rgb(0, 0, 0);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  font-weight: 500;
  font-family: "Monoton", cursive;
  animation: typing 3.5s steps(40, end),
    blink-caret-white 0.75s step-end infinite;
  cursor: default;
}

.continueWhite {
  position: relative;
  border: 0.1px solid rgb(0, 0, 0);
  background: transparent;
  font-family: "Monoton", cursive;
  color: rgb(0, 0, 0);
  width: 15vw;
  height: 5vw;
  font-size: 2vw;
  font-weight: 900;
  border-radius: 5px;
  opacity: 0.5;
  margin: auto;
  transition: 1s;
  animation: 3.5s ease-out 0s 1 slideInFromRight;
}

.continueWhite:hover {
  border: 0.3px solid rgb(21, 0, 255);
  cursor: pointer;
  color: rgb(21, 0, 255);
  opacity: 0.8;
  transition: 1s;
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: gold;
  }
}

@keyframes blink-caret-white {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-220%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(220%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-220%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1000px) {
  .container {
    height: 20%;
    width: 100vw;
    position: fixed;
    top: 40%;
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
  }
  .leftSide,
  .leftSideWhite {
    font-size: 3vw;
    left: 0;
    top: 0;
    grid-column: 1;
    justify-self: center;
    position: relative;
  }
  .line,
  .lineWhite {
    position: relative;
    width: 10%;
    grid-column: 2;
    top: 0;
    left: 0;
    justify-self: center;
  }
  .rightSide {
    position: relative;
    width: 100%;
    display: inline-flex;
    grid-column: 3;
    top: 0;
    left: 0;
  }
  .continue,
  .continueWhite {
    position: relative;
    height: 10vw;
    width: 40vw;
  }
  body {
    overflow: hidden;
  }
}
