/* DarkTheme */
.education {
  height: auto;
  margin-top: 10vw;
  margin-bottom: 5vw;
  transition: 1s background ease-in;
  transition: opacity 3s ease;
  opacity: 0;
}
.educationAppear {
  /* animation: fadeIn 3s; */
  opacity: 1;
}
.educationDisaapear {
  /* animation: fadeOut 3s; */
  opacity: 0;
}
.spacer {
  border-top: 0.22vw groove white;
  width: 20%;
  position: relative;
  top: 1.4vw;
  margin: 0 1vw;
  display: inline-block;
  color: transparent;
}
.education:hover {
  background-color: rgba(0, 4, 255, 0.05);
}
.education:hover > .title {
  color: gold;
}
.educationAnchor {
  position: relative;
  top: -12vw;
}
.heading {
  height: 15%;
  width: 60%;
  margin: auto;
  padding: 1%;
  border-top: 0.1vw solid white;
  border-left: 0.1vw solid white;
  border-bottom: 0.3vw solid white;
  border-right: 0.3vw solid white;
  border-top-right-radius: 0.4vw;
  border-bottom-left-radius: 0.4vw;
  transition: 1s;
}
.heading:hover {
  border-bottom: 0.3vw solid gold;
  border-right: 0.3vw solid gold;
  transition: 1s;
  transform: scale(1.1);
}
.title {
  font-size: 1.5vw;
  position: relative;
  top: -1.2vw;
  transition: 1s color;
}
.headingText {
  font-size: 1vw;
}
.carouselWrap {
  height: 80%;
}

.carouselOne,
.carouselTwo,
.carouselThree {
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.subHeading1,
.subHeading2,
.subHeading3 {
  font-size: 1vw;
}

/* WhiteTheme */
.educationWhite {
  height: auto;
  margin-top: 10vw;
  margin-bottom: 5vw;
  transition: opacity 3s ease;
  opacity: 0;
}

.educationWhite:hover {
  background-color: rgba(0, 4, 255, 0.05);
}
.educationWhite:hover > .titleWhite {
  color: rgb(21, 0, 255);
}

.spacerWhite {
  border-top: 0.22vw groove rgb(0, 0, 0);
  width: 20%;
  position: relative;
  top: 1.4vw;
  margin: 0 1vw;
  display: inline-block;
  color: transparent;
}
.titleWhite {
  font-size: 1.5vw;
  position: relative;
  top: -1.2vw;
  color: rgb(0, 0, 0);
  transition: 1s color;
}
.headingWhite {
  height: 15%;
  width: 60%;
  margin: auto;
  padding: 1%;
  border-top: 0.1vw solid rgb(0, 0, 0);
  border-left: 0.1vw solid rgb(0, 0, 0);
  border-bottom: 0.3vw solid rgb(0, 0, 0);
  border-right: 0.3vw solid rgb(0, 0, 0);
  border-top-right-radius: 0.4vw;
  border-bottom-left-radius: 0.4vw;
  transition: 1s;
}
.headingWhite:hover {
  border-bottom: 0.3vw solid rgb(21, 0, 255);
  border-right: 0.3vw solid rgb(21, 0, 255);
  transition: 1s;
  transform: scale(1.1);
}
@media screen and (max-width: 800px) {
  .education,
  .educationWhite {
    margin-left: 1vw;
    width: 98vw;
    height: 250vw;
  }

  .title,
  .titleWhite {
    font-size: 5vw;
    top: -3vw;
  }
  .spacer {
    top: 3.1vw;
    border-top: 0.5vw solid white;
  }
  .spacerWhite {
    top: 3.1vw;
    border-top: 0.5vw solid black;
  }
  .heading {
    border-top: 0.2vw solid white;
    border-left: 0.2vw solid white;
    border-bottom: 0.9vw solid white;
    border-right: 0.9vw solid white;
  }
  .heading:hover {
    border-bottom: 1vw solid gold;
    border-right: 1vw solid gold;
    border-top: 0.3vw solid gold;
    border-left: 0.3vw solid gold;
  }
  .headingWhite {
    border-top: 0.2vw solid rgb(0, 0, 0);
    border-left: 0.2vw solid rgb(0, 0, 0);
    border-bottom: 0.9vw solid rgb(0, 0, 0);
    border-right: 0.9vw solid rgb(0, 0, 0);
  }
  .headingWhite:hover {
    border-bottom: 1vw solid rgb(21, 0, 255);
    border-right: 1vw solid rgb(21, 0, 255);
    border-top: 0.3vw solid rgb(21, 0, 255);
    border-left: 0.3vw solid rgb(21, 0, 255);
  }
  .headingText {
    font-size: 2.5vw;
  }
  .subHeading1 {
    font-size: 2.5vw;
  }
  .subHeading2,
  .subHeading3 {
    font-size: 2.5vw;
    margin-top: 14vw;
  }
  .educationAnchor {
    top: -26vw;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
