/* DarkTheme */
.education {
  height: auto;
  margin-top: 10vw;
  margin-bottom: 5vw;
  transition: 1s background ease-in;
  opacity: 0;
}
.educationSlideIn {
  animation: 1.5s ease-out 0s 1 slideInFromRight;
  opacity: 1;
}

.spacer {
  width: 20%;
  position: relative;
  top: 1.4vw;
  margin: 0 1vw;
  display: inline-block;
  color: transparent;
}
.spacerDark {
  border-top: 0.22vw groove white;
}

.educationDark:hover > .title {
  color: rgb(0, 255, 8);
}
.educationAnchor {
  position: relative;
  top: -12vw;
}
.heading {
  height: 15%;
  width: 60%;
  margin: auto;
  padding: 1.5%;
  text-align: justify;
  text-align-last: center;

  border-top-right-radius: 0.4vw;
  border-bottom-left-radius: 0.4vw;
  transition: 1s;
}
.headingDark {
  border-top: 0.1vw solid white;
  border-left: 0.1vw solid white;
  border-bottom: 0.3vw solid white;
  border-right: 0.3vw solid white;
  background-color: black;
}
.headingDark:hover {
  box-shadow: 0.6vw 0.6vw rgb(0, 255, 8);
  transition: 1s;
}
.title {
  font-size: 1.5vw;
  position: relative;
  top: -1.2vw;
  transition: 1s color;
}
.titleDark {
  color: white;
}
.headingText {
  font-size: 1vw;
}
.carouselWrap {
  height: 80%;
}

.carouselOne,
.carouselTwo,
.carouselThree {
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.subHeading1,
.subHeading2,
.subHeading3 {
  font-size: 1vw;
}

/* LightTheme */

.educationLight:hover > .titleLight {
  color: rgb(21, 0, 255);
}

.spacerLight {
  border-top: 0.22vw groove rgb(0, 0, 0);
}
.titleLight {
  color: rgb(0, 0, 0);
}
.headingLight {
  border-top: 0.1vw solid rgb(0, 0, 0);
  border-left: 0.1vw solid rgb(0, 0, 0);
  border-bottom: 0.3vw solid rgb(0, 0, 0);
  border-right: 0.3vw solid rgb(0, 0, 0);
  background-color: white;
}
.headingLight:hover {
  box-shadow: 0.6vw 0.6vw rgb(21, 0, 255);
  transition: 1s;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0.25;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .education {
    margin-left: 1vw;
    width: 98vw;
    height: 250vw;
  }

  .title {
    font-size: 5vw;
    top: -3vw;
  }
  .spacerDark {
    top: 3.1vw;
    border-top: 0.5vw solid white;
  }
  .spacerLight {
    top: 3.1vw;
    border-top: 0.5vw solid black;
  }
  .headingDark {
    border-top: 0.2vw solid white;
    border-left: 0.2vw solid white;
    border-bottom: 0.9vw solid white;
    border-right: 0.9vw solid white;
  }
  .headingDark:hover {
    box-shadow: 1vw 1vw rgb(0, 255, 8);
  }
  .headingLight {
    border-top: 0.2vw solid rgb(0, 0, 0);
    border-left: 0.2vw solid rgb(0, 0, 0);
    border-bottom: 0.9vw solid rgb(0, 0, 0);
    border-right: 0.9vw solid rgb(0, 0, 0);
  }
  .headingLight:hover {
    box-shadow: 1vw 1vw rgb(21, 0, 255);
  }
  .headingText {
    font-size: 2.5vw;
  }
  .subHeading1 {
    font-size: 2.5vw;
  }
  .subHeading2,
  .subHeading3 {
    font-size: 2.5vw;
    margin-top: 14vw;
  }
  .educationAnchor {
    top: -26vw;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
