/* DarkTheme */
.projects {
  height: 35vw;
  margin-top: 18vw;
  font-size: 1vw;
  opacity: 0;
  transition: 1s background ease-in;
}
.projectsSlideIn {
  animation: 3.5s ease-out 0s 1 slideInFromRight;
  opacity: 1;
}
.projectsAnchor {
  position: relative;
  bottom: 10vw;
}
.projectsDark:hover {
  background-color: rgba(0, 4, 255, 0.05);
}
.projectsDark:hover > .title {
  color: gold;
}
.title {
  font-size: 1.5vw;
  position: relative;
  top: -1.2vw;
  transition: 1s color;
}
.titleDark {
  color: white;
}
.spacer {
  border-top: 0.22vw groove white;
  width: 20%;
  position: relative;
  top: 1.4vw;
  margin: 0 1vw;
  display: inline-block;
  color: transparent;
}
.heading {
  height: 5vw;
  width: 60%;
  margin: auto;
  padding: 1%;
  border-top-right-radius: 0.4vw;
  border-bottom-left-radius: 0.4vw;
  transition: 1s;
  font-size: 1vw;
}
.headingDark {
  border-top: 0.1vw solid white;
  border-left: 0.1vw solid white;
  border-bottom: 0.3vw solid white;
  border-right: 0.3vw solid white;
  background-color: black;
}
.headingDark:hover {
  box-shadow: 0.6vw 0.6vw gold;

  transition: 1s;
}
.projectsList {
  justify-content: center;
  align-content: center;
}
.firstProject {
  margin: auto;
  margin-top: 3vw;
  font-size: 1.5vw;
  width: 25%;
  transition: 1s ease-in;
}

.firstProject:hover {
  transform: scale(1.1);
  font-size: 1.5vw;
}
.firstProjectDark:hover .firstProjectImageDark {
  border: 0.2vw solid gold;
  transition: 1s;
}

.firstProjectDark:hover p {
  color: gold;
  transition: 1s;
}
.firstProjectImage {
  width: 20vw;
  height: 10vw;
  transition: 1s;
}
.firstProjectImageDark {
  border: 0.2vw solid white;
}

/* LightTheme */

.projectsLight:hover {
  background-color: rgba(0, 4, 255, 0.05);
}
.projectsLight:hover .titleLight {
  color: rgb(21, 0, 255);
}

.spacerLight {
  border-top: 0.22vw groove rgb(0, 0, 0);
  width: 20%;
  position: relative;
  top: 1.4vw;
  margin: 0 1vw;
  display: inline-block;
  color: transparent;
}
.titleLight {
  color: rgb(0, 0, 0);
}
.headingLight {
  border-top: 0.1vw solid rgb(0, 0, 0);
  border-left: 0.1vw solid rgb(0, 0, 0);
  border-bottom: 0.3vw solid rgb(0, 0, 0);
  border-right: 0.3vw solid rgb(0, 0, 0);
  background-color: white;
}
.headingLight:hover {
  box-shadow: 0.6vw 0.6vw rgb(21, 0, 255);
  transition: 1s;
}

.firstProjectLight:hover .firstProjectImageLight {
  border: 0.2vw solid rgb(21, 0, 255);
  transition: 1s;
}
.firstProjectLight:hover p {
  color: rgb(21, 0, 255);
}
.firstProjectImageLight {
  border: 0.2vw solid rgb(0, 0, 0);
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0.25;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .projects {
    height: 100vw;
    margin-left: 1vw;
    width: 98vw;
  }

  .title {
    font-size: 5vw;
    top: -3vw;
  }
  .spacer {
    top: 3.1vw;
    border-top: 0.5vw solid white;
  }
  .spacerLight {
    top: 3.1vw;
    border-top: 0.5vw solid black;
  }
  .heading {
    font-size: 2.5vw;
    height: 16vw;
    width: 80vw;
  }
  .headingDark {
    border-top: 0.2vw solid white;
    border-left: 0.2vw solid white;
    border-bottom: 0.9vw solid white;
    border-right: 0.9vw solid white;
  }
  .headingDark:hover {
    border-bottom: 1vw solid gold;
    border-right: 1vw solid gold;
    border-top: 0.3vw solid gold;
    border-left: 0.3vw solid gold;
  }
  .headingLight {
    border-top: 0.2vw solid rgb(0, 0, 0);
    border-left: 0.2vw solid rgb(0, 0, 0);
    border-bottom: 0.9vw solid rgb(0, 0, 0);
    border-right: 0.9vw solid rgb(0, 0, 0);
  }
  .headingLight:hover {
    border-bottom: 1vw solid rgb(21, 0, 255);
    border-right: 1vw solid rgb(21, 0, 255);
    border-top: 0.3vw solid rgb(21, 0, 255);
    border-left: 0.3vw solid rgb(21, 0, 255);
  }
  .firstProject {
    justify-self: center;
    width: 50%;
    margin-top: 10vw;
  }
  .firstProjectImage {
    height: 30vw;
    width: 50vw;
  }
  .firstProject p {
    align-self: center;
    font-size: 4vw;
  }
}
